body{
	margin-left:10vw;
	margin-top:4vw;
}

@keyframes open{
	from{
		transform: perspective(300px) rotateY(0deg);
	}
	to{
		transform: perspective(300px) rotateY(-60deg);
	}
}

.grid{
	display: grid;
	grid-template-columns:7vw 2vw 7vw 55vw 7vw 5vw 5vw;
	grid-template-rows:16vw 16vw 16vw;
}

.door1{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	border: 0.4vw solid #5C5C5C;
}

.open{
	position: absolute;
	margin-top:-10.5vw;
	margin-left:-1.3vw;
	width:5vw;
	height:17.5vw;
	background-color: white;
	border:0.4vw solid #5C5C5C;
	display: none;
	transform: perspective(300px) rotateY(-40deg) skewY(5deg);
}

.open:target{
	display: block;
}

.cover{
	background-color: white;
	width:1vw;
	height:5vw;
	margin-left:6vw;
	margin-top:5vw;
}

.nob11{
	width:0.5vw;
	height:3.5vw;
	background-color: #5C5C5C;
	margin-left:3.5vw;
	margin-top:-4vw;
}

.nob1{
	width:0.4vw;
	height:3.5vw;
	background-color: #5C5C5C;
	margin-left:5vw;
	margin-top: 5.5vw;
}

.nob2{
	width:0.4vw;
	height:3.5vw;
	background-color: #5C5C5C;
	margin-left:5vw;
	margin-top: 5.5vw;
}

.nob3{
	width:0.4vw;
	height:3.5vw;
	background-color: #5C5C5C;
	margin-left:5vw;
	margin-top: 5.5vw;
}

.door2{
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
	border: 0.4vw solid #5C5C5C;
}

.wall1{
	margin-top: -9vw;
	margin-left: -0.1vw;
	overflow: hidden;
	display: none;
}

.wall1{
	background-color: white;
	width:1vw;
	height:5vw;
	margin-left:5vw;
	margin-top: -7vh;
}

:target{
	display: block;
}

.door3{
	grid-column-start: 5;
	grid-column-end: 6;
	grid-row-start: 2;
	grid-row-end: 3;
	border: 0.4vw solid #5C5C5C;
}

.wall3{
	margin-top: -9vw;
	margin-left: -0.1vw;
	overflow: hidden;
	display: none;
}

.wall3{
	background-color: white;
	width:1vw;
	height:5vw;
	margin-left:5vw;
	margin-top: -7vh;
}

:target{
	display: block;
}

.exit{
	grid-column-start: 7;
	grid-column-end: 8;
	grid-row-start: 1;
	grid-row-end: 2;
	background-color: white;
}

.circle{
	width: 3vw;
	height: 3vw;
	border-radius: 50%;
	background-color: white;
}

.circle:hover{
	background-color: grey;
}

